* {
    margin: 0px;
    padding: 0px;
    font: 14px sans-serif;
}

header {
    background-color: black;
    /*Faz o float respeitar a altura dos elementos*/
    overflow: auto;
}

#titulo {
    font-size: 32px;
    color: white;
    margin: 10px;
    float: left;
}

nav {
    float: right;
}

a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}